<div class="col-md-12"> 
  <div class="group">
    <%= link_to("新增留言板", new_board_path , :class => "btn btn-primary pull-right" ) %>
  </div>

  <table class="table table-hover">
    <thead> 
      <tr>
        <td> # </td>
        <td> 標題 </td>
        <td> 內文 </td>
      </tr>
    </thead>

    <tbody>
            <% @boards.each do |board| %> 
    <tr>
      <td> # </td>
      <td>  <%= link_to(board.title, board_path(board)) %> </td>
      <td>  <%= board.description %> </td>
      <td>  
          <% if current_user && board.editable_by?(current_user) %>
            <%= link_to("修改", 
                        edit_board_path(board), 
                        :class => "btn btn-sm btn-default")%>

            <%= link_to("刪除", 
                        board_path(board), 
                        :class => "btn btn-sm btn-default", 
                        :method=>:delete,
                        data: { confirm: "Are you sure?" } )%></td> 
          <% end %>
    </tr>
            <% end %> 
    </tbody>
  </table>
</div>