<div class="col-md-12">

  <div class="group">
    <% if current_user && @board.editable_by?(current_user) %>
      <%= 
        link_to("修改留言板", edit_board_path(@board) , :class => "btn btn-warning pull-right")
      %> 
    <% end %>
  </div>

  <h2> <%= @board.title %> </h2>
  <h4> <%= @board.description %> </h4> <br>
  <p class="pull-right"> 版主： <%= User.find(@board.user_id).email %> </p>
  <p> on <%= @board.created_at %> </p> <hr>

  <% @comments.each do |comment| %> 
      <br><br><p> <%= User.find(comment.user_id).email %>說： </p>
      <h4> <%= comment.content %> </h4><br>
      <p>at <%= comment.created_at %> </p>
      <% if current_user && comment.editable_by?(current_user) %>
            <p> 
                 <%= link_to("修改", 
                             edit_board_comment_path(comment.board, comment), 
                             :class => "btn btn-default btn-xs")%>

                 <%= link_to("刪除", 
                             board_comment_path(comment.board, comment), 
                             :class => "btn btn-default btn-xs ",
                             :method => :delete,
                             data: { confirm: "Are you sure?" } )%>
            </p>
      <% end %>
      <hr>
  <% end %> 

  <h2 class="text-center">新增留言</h2><br>
  <div class="col-md-4 col-md-offset-4">
    <%= form_for [@board,@comment] do |f| %>
      <%= f.text_area :content, :class => "form-control" %> <br>
      <div class="group">
        <%= f.submit "Create", :class => "btn btn-primary center-block" %>
      </div>
    <% end %> 
  </div>

  <center><%= paginate @comments %></center>
</div>